<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Performance Task</title>
        <link href="public/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        
        <h1> Odd or Even??? </h1>
        
        <h3> This Web App takes in any sentence and will tell you if your sentence contains an odd or even number of characters.</h3>
        
        <form class="" action="/results" method="post">
            
          <label for="sentence">What's your favorite sentence?</label>
          <input type="text" name="sentence">

          <input type="submit" value="Odd or even???!">
        </form> 
    
    </body>


</html>